$color-black:#000;
$color-grey-light:#F7F7F7;
$color-grey-light-2:#EEEEEE;
$color-grey-dark:#333;
$color-white:white;
$color-oranged:#E58411;

//grid- col
$grid-col-val-2:35rem;
$grid-col-val-3:25rem;
$grid-col-val-4:250px;

//deflaut font

$default-font-size:1rem;
