.tesimonials-card{
    &-item{
        position: relative;
        margin: 2rem auto;
       :first-child{
        width: 100%;
       }
    }
    .text-area{
       
        position: absolute;
        width: 90%;
        border-radius: 20px;
        background:$color-white;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 20px;
        h3{
            font-size: 18px;
           margin-top: -56px;
            
        }
    .sub
        {
            font-size: 12px;
            margin-bottom: 30px;
            font-weight: 200;
        }
        p{
            font-size: 14px;
            color: rgba($color-grey-dark,.5);
            margin-bottom: 10px;

        }
        .bx{
            color: $color-oranged;
        }
        .circle{
           background: $color-white;
           border-radius: 50%;
           height: 4rem;
           width: 4rem;         
        top: 20px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: -20px;
        }
        img{
            transform: translate(0px , -45px);
        }
    }
    #user-img{
        margin-block: 10px 20px;
    }
    
}