@keyframes moveInUp{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    70%{
        transform: translateY(-2px);
        opacity: .5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveInDown{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    70%{
        transform: translateY(2px);
        opacity: .5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveInleft{
    0%{
        transform: translateX(-10px);
        opacity: 0;
    }
    70%{
        transform: translateX(2px);
        opacity: .5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveInRight{
    0%{
        transform: translateX(10px);
        opacity: 0;
    }
    70%{
        transform: translateX(-2px);
        opacity: .5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}