@import url('https://fonts.googleapis.com/css2?family=Alata&family=Allerta&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    text-decoration: none;
    list-style: none;
}
body{
    scroll-behavior: smooth;
}
html{
    font-size: 100%;
    font-family: 'Roboto';
    @include responed(laptop){
        font-size: 80%;
    }
    @include responed(tab){
        font-size: 70%;
    }
    @include responed(phone-s)
    {
        font-size: 40%;
    }
   
}
section{
    padding: 2rem 0;
}
